# This is a basic workflow to help you get started with Actions

name: Soundboard-CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a job called "build"
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://node:10
      volumes:
        - /workspace:/github/workspace
    steps:
      - uses: actions/checkout@master
      
      - name: yarn build
        run: |
          # grep repository name as url prefix for pages deployment
          # export PUBLIC_URL=$(echo ${GITHUB_REPOSITORY} | sed 's|.*\/\(.*\)|\1|')
          echo yarn build PUBLIC_URL=${PUBLIC_URL}

          yarn install
          yarn build

      - uses: actions/upload-artifact@master
        with:
          name: soundboard-build
          path: build

  # job publish to put build result to github pages
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/download-artifact@master
        with:
          name: soundboard-build
          path: build

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
